@import "eww-colors.scss";

* {
    all: unset;
    font-family: "Hack Nerd Font";
}

.bar {
    padding: 2px;
    border-radius: 12px;
}

.right, .center {
    border-radius: 40px;
    background: $bar_bg;
    margin: 0px;
    padding: 2px 8px;
}

.left {
    border-radius: 12px;
    background: $bar_bg;
    margin: 0px;
    padding: 2px 8px;
}

.circle {
    background-color: $circle_fill;

}

.circle-inside {
    min-width: 2rem;
    min-height: 2rem;
    border-radius: 50%;
}

.circle-icon {
    font-size: 1rem;
}

.net,
.clock {
    margin: 4px 2px;
    padding: 4px;
    color: $blue;
    font-size: 14px;
    border-radius: 4px;
    border-radius: 16px;
    border: 3px solid $blue;
    transition: 0.5s;
}

.date-text {
    padding-left: 6px;
}

.net.expanded, .clock.expanded {
    transition: 0.5s;
    border-radius: 4px;
}

.net-icon-ether {
    padding-right: 5px;
    padding-left: 2px;
}

.net-icon-wifi {
    padding-right: 8px;
    padding-left: 2px;
}
.net-icon-none {
    padding-right: 8px;
    padding-left: 2px;
}

.power,
.temperature,
.memory,
.cpu,
.volume {
    margin: 4px 2px;
    padding: 4px;
    font-size: 13px;
    border-radius: 4px;
}

.music {
    margin: 4px 2px;
    padding: 4px;
    color: $silver;
    font-size: 15px;
    border-radius: 16px;
    border: 3px solid $silver;
    transition: 0.5s;
}

.music.expanded {
    transition: 0.5s;
    border-radius: 6px;
    // background-color: $silver;
    // color: $bg;
}

.music-icon {
    padding-right: 5px;
    padding-left: 2px;
}

.music-title {
    padding-left: 5px;
    font-size: 13px;
}

.power {
    color: $yellow;
    border-radius: 4px;
    border: 1px solid $fg;
}

.power.full .circle-icon {
    padding-right: 7px;
    font-size: 0.95rem;
}

.power.discharging .circle-icon {
    padding-right: 7px;
    font-size: 0.95rem;
}

.power.charging {
    color: $lime;
}

.power.charging > .circle-icon {
    padding-right: 2px;
}

.power.plugged {
    color: $green;
}

.power.plugged .circle-icon {
    padding-right: 0.4rem;
}

.temperature {
    color: $red;
}

.temperature .circle-icon {
    padding-left: 2px;
}

/*
.temperature.hot {
    background-color: #ffffff;
}

.temperature.normal {
    background-color: #c13251;
}

.temperature.cool {
    background-color: #80c080;
}

.temperature.cold {
    background-color: #80c0ff;
}
*/

.memory {
    color: $orange;
}

.memory .circle-icon {
    font-size: 1.2rem;
}

.cpu {
    color: $yellow;
}

.cpu .circle-icon {
    font-size: 1.04rem;
    padding-right: 5px;
}

.volume {
    color: $lime;
}

.volume .circle-icon {
    padding-right: 5px;
}

.volume highlight {
    background-color: $lime;
}

.volume slider {
    background-color: $lime;
}

.workspaces {
    padding: 2px;
    margin: 2px;
}

.ws.icon {
    font-size: 22px;
    margin: 0px 4px;
    padding-right: 4px;
}

.ws.icon.active {
    color: $lime;;
}

.ws.icon.empty {
    color: $grey1;
}

.ws.icon.focused {
    color: $blue;
}

$scaleh: .5rem;

scale {
  trough {
    background-color: $bg;
    border-radius: 0.5rem;
    min-width: 5rem;
    padding: 0 0.25rem;
    margin: 0;
    min-width: 8rem;
  }

  highlight {
    border-radius: 0.5rem;
    margin: 0 -0.25rem;
    min-height: 0.5rem;
  }

  slider {
    margin: -0.5rem;
    min-width: 1rem;
    min-height: 1rem;
    border-radius: 0.5rem;
  }
}

// powermenu

.powermenu {
    font-size: 8rem;
    padding: 10px;
}

.powermenu-widget {
    background-color: rgba(16, 16, 32, 0.4);
    border-color: rgba(127, 127, 255, 0.15);
    border-style: solid;
    border-width: 4px;
    border-radius: 16px;
    margin: 12px;
}

.powermenu-eb:hover > .powermenu-widget {
    transition: 0.2s;
    border-radius: 12px;
    border-color: $blue;
    border-width: 4px;
    border-style: solid;
    margin: 12px;
}

.poweroff-icon, .reboot-icon, .suspend-icon {
    font-size: 8rem;
    padding: 10px 56px 10px 24px;
}

.lock-icon {
    font-size: 8rem;
    padding: 10px 42px 10px 30px;
}

.logout-icon {
    font-size: 8rem;
    padding: 10px 40px 10px 32px;
}

.poweroff-icon {
    color: $red;
}

.reboot-icon {
    color: $green;
}

.suspend-icon {
    color: $purple;
}

.logout-icon {
    color: $blue;
}

.lock-icon {
    color: $yellow;
}
