$blue: #8caaee;
$green: #81c8be;
$lime: #a6d189;
$teal: #56b6c2;
$red: #e78284;
$yellow: #e5c890;
$orange: #ef9f76;
$purple: #ca9ef6;
$silver: #99d1db;
$grey1: #9da5b4;
$bg: #101020;
$fg: #abb2bf;
$circle_fill: rgba(16, 16, 32, 0.4);
$bar_bg: rgba(0, 0, 0, 0);
